
@model WebApplication4.RouteConfig
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Content/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/Content/css/tooplate.css">

    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Content/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
</head>

<body class="bg03">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-xl navbar-light bg-light">
                    <a class="navbar-brand" href="~/">
                        <i class=""><img src="~/Content/img/logs.png" alt="Profile Image" class="img-fluid" height=100 width=100></i>
                        <h1 class="tm-site-title mb-0">Our Choir</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            

                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Addteach">Add Members</a>
                               
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Account">Manage Accounts</a>
                            </li>
                            
                        </ul>
                       
                    </div>
                </nav>
            </div>
        </div>



        <!-- row -->
        @RenderBody()

        <footer class="row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    Copyright &copy; 2018 Oaksoft . Created by
                    <a href="http://www.Oaksoft.com" class="text-white tm-footer-link">Oaksoft Tech</a>
                </p>
            </div>
        </footer>


    </div>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/Content/jquery-ui-datepicker/jquery-ui.min.js"></script>

    <script>
        $(function () {
            $('#expire_date').datepicker();
        });
    </script>

</body>

</html>